<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车列表</title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

<% include ../public/top.ejs %>

<div class="container-fluid">
    <div class="row">
        <% include ../public/left.ejs %>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">购物车列表
                </li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入名称">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>商品名</th>
                        <th>图片</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>状态</th>
                        <th>用户</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for( let i   in  carts){ %>
                        <tr>
                            <td><%= carts[i]._id %></td>
                            <td><%= carts[i].goodsname %></td>
                            <td>
                                <img src="/<%= carts[i].goodspic %>" alt="暂无图片" width="50px" height="50px">
                            </td>
                            <td><%= carts[i].price %></td>
                            <td><%= carts[i].num %></td>

                            <td>
                                <% if(carts[i].checked == 1){ %>

                                    选中
                                <%}else{%>
                                    未选中
                                <%}%>

                            </td>
                            <td><%= carts[i].nickName %></td>
                            <td class="text-center">
                                XXX
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>